@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  /* background: radial-gradient(122.98% 122.98% at 50% 50%, #0C0606 0%, #0C0606 0.01%, #005889 100%); */
  background: #121f21;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.marketplace {
  height: 100vh;
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}

.seeSawAnim {
  transform: rotateZ(0deg);
  animation: rotateSeeSaw 5s ease-in-out infinite;
}

@keyframes rotateSeeSaw {
  0%,
  100% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(-3deg);
  }
}

.logoAnim {
  transform: rotateZ(0deg);
  animation: rotateLogo 5s ease-in-out infinite;
}

@keyframes rotateLogo {
  0%,
  100% {
    transform: rotateZ(-3deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
}

.paymentSuccess{
  background-image: url("../assets/images/confetti-unscreen.gif");
}